* {
  margin: 0;
  box-sizing: border-box;
}

body, 
html {
  height: 100%;
}

#root {
  min-height: 100%;
  background-color: #e8e8e8;
}

.home > a {
  position: absolute;
  font-size: 20px;
  text-decoration: none;
  top: 5px;
  left: 5px;
}

h1 {
  text-align: center;
  color: rgb(52, 86, 93);
}

.list {
  display: grid;
  grid-template-columns: 1fr;
}

.list p {
  text-align: center;
  font-size: 30px;
  padding: 6px 0 6px 0;
}

a,
a:visited {
  color: blue;
}

.flag {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.multiple-choice p {
  font-size: 24px;
  text-align: center;
  padding: 0 12px;
}

.multiple-choice form {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  font-size: 24px;
  padding: 20px 20px 0 20px;
}

.multiple-choice > form p {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.multiple-choice label {
  width: 100%;
  text-align: start;
}

.multiple-choice button {
  width: fit-content;
  padding: 0.5rem 2.5rem;
  border-radius: 8px;
  /* border: none; */
  background-color: rgb(143, 202, 149);
  margin: auto;
}