* {
  margin: 0;
  box-sizing: border-box;
}

.database h1 {
  text-align: center;
  margin: 20px;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
}

p {
  text-align: center;
  font-size: 30px;
  padding: 6px 0 6px 0;
}